//Home Component//

$mint: #c3e9d4;
$pistachio: #bed9b9;
$storm: #2e2e2e;
$ocean: #004973;
$shamrock: #1fbb62;
$tangerine: #ffa800;


.home-main-wrapper{
	background: url('../images/hero1.jpg');
	width:100vw;
	height:100vh;
	background-size: 100%;
	// position:absolute;
	// top:0;
	// left:0;
	// z-index: 0;

	.home-wrapper {
		display: flex;
		justify-content: center;
		padding-left: 100px;
		padding-right: 100px;
		padding-top:100px;
		// background-color: #ffa800;
		// box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  			.search-wrapper {
    			display: flex;
				justify-content:center;
				align-items: center;
				width: 80%;
				height: 200px;
				background: rgba(38, 144, 100, 0.20);
				// border-radius: 12px;
				margin-bottom: 55px;
				label {
					height: 100%;
					display: flex;
					align-items: center;
				}
   				input{
   					margin-right: 20px;
   					margin-left: 5px;
   					width: 400px;
					// border-radius: 5px;
   				}
   			 }
  			}
	  	}
      .geosuggest {
          height: 100px;
     }
.geosuggest__input {
  height: 100%;
}
