$mint: #c3e9d4;
$pistachio: #bed9b9;
$storm: #2e2e2e;
$ocean: #004973;
$shamrock: #1fbb62;
$tangerine: #ffa800;


.host-booking-wrapper{
	padding-top: 100px;
	width:100vw;
	display:flex;
	justify-content:center;
	// flex-direction:column;


	.host-trip-form{
		display:flex;
		flex-direction:column;

		input{ 
			// overflow:hidden;
			// white-space:pre-wrap;
			width:500px;
			height:30px;
			margin-bottom:20px;
			

		}

		span{
			display:flex;
			justify-content:space-between;
			margin-bottom: 5px;
			// width:600px;

		}

		.host-span{
			width:500px;
			font-size: small;
			padding-bottom: 20px;
		}

		button{
			width:100%;
			margin-bottom: 100px;
		}

		.trip-description textarea {
			width:500px;
			padding-bottom:200px;
			margin-bottom: 20px;
		}



	}

}