$mint: #c3e9d4;
$pistachio: #bed9b9;
$storm: #2e2e2e;
$ocean: #004973;
$shamrock: #1fbb62;
$tangerine: #ffa800;


.host-booking-wrapper{
	padding-top: 100px;
	width:100vw;
	display:flex;
	justify-content:center;
	// flex-direction:column;


	.host-trip-form{
		font-size: 18px;
  		font-size: 1rem;
		display:flex;
		flex-direction:column;


		input{ 
  			color: #A9A9B3;
  			margin: 1em auto;
			width: 35vw;
  			border: 2px solid transparent;
  			box-shadow: 0 0 1px #3d464d;
  			padding: .5em 1em;
		}
			
			input:focus{
				border-color: #267dc0;
  				box-shadow: 0 0 0 transparent;
			}

		

		span{
			display:flex;
			// justify-content:space-between;
			margin-bottom: 5px;
			// width:600px;

		}

		.host-span{
			width:500px;
			font-size: small;
			padding-bottom: 20px;
		}

		button{
			width:100%;
			margin-bottom: 100px;
		}

		.trip-description textarea {
  			margin: 1em auto;
			border: 2px solid transparent;
  			box-shadow: 0 0 1px #3d464d;
			width: 35vw;
  			padding: .5em 1em;
			padding-bottom:20vh;

		}

	}

	}

