
.login-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding-top: 10px;

  input{
    margin-left: 5px;
    margin-bottom:5px;
    width: 250px;
  }
  .register-form {
    display: flex;
    flex-direction: column;
    align-items: space-between;
      .register{
        font-weight: bold;
        // font-size: 20spx;
      }
  }
  .login-form {
    @extend .register-form;

    .login{
      font-weight: bold;
      // font-size: 0px;
    }

  }
  label {
    @extend .login-form;
    flex-direction: row;
    justify-content: space-between;
  }


.dropzone-flex{
  // width:100%;
  display:flex;
  justify-content:center;

  .dropzone{
    // width:150px;
    // height:150px;

    margin-bottom: 10px;
    margin-top: 10px;
  }

  .dropzone img{
    width:100px;
    height:100px;
    border-radius: 150px;
    border:2px dotted black;
    object-fit:fill;
  }

}

  .failed-message{
    color:red;
    font-weight: bold;
  }
}
