
.login-wrapper {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding-top: 30px;

  input{
    margin-left: 10px;
    margin-bottom:10px;
    width: 300px;
  }
  .register-form {
    display: flex;
    flex-direction: column;
    align-items: space-between;
      .register{
        font-weight: bold;
        font-size: 20px;
      }
  }
  .login-form {
    @extend .register-form;

    .login{
      font-weight: bold;
      font-size: 20px;
    }

  }
  label {
    @extend .login-form;
    flex-direction: row;
    justify-content: space-between;
  }


.dropzone-flex{
  // width:100%;
  display:flex;
  justify-content:center;


  .dropzone{
    width:200px;
    height:200px;
    border:2px dotted black;
    margin-bottom: 10px

  }

  .dropzone img{
    width:200px;
    height:200px;
    object-fit:cover;
    

  }

}


  .failed-message{
    color:red;
    font-weight: bold;
  }
}
