//Main Component//

$mint: #c3e9d4;
$pistachio: #bed9b9;
$storm: #2e2e2e;
$ocean: #004973;
$shamrock: #1fbb62;
$tangerine: #ffa800;



.top-main-wrapper {
  display: flex;
  justify-content: space-between;
  height:60px;
  // background-color: $ocean;
  border-bottom: 5px solid $pistachio;

  padding-top: 1%;
  box-sizing:border-box;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .main-logo{
  	padding-left:100px;
  	// padding-bottom:8px;
  	// font-family: 'Poiret One', cursive;
  	font-family: helvetica;
  	font-size: 25px;
  	font-weight: bold;
  }
}
.main-nav {

  padding-top:6px;
  display: flex;
  justify-content: space-between;
  width: 50%;
  padding-right: 100px;
  font-weight: bold;

  button{
    background-color: transparent;
    border:none;
    padding:0;
    margin:0;
    height:0;
    // color: white;
  }

  button:hover{
    background-color: transparent;
    border:none;
    padding:0;
    margin:0;
    color: #a2a2a2;
  }


}

.hidden {
  display: none;
}
