$mint: #c3e9d4;
$pistachio: #bed9b9;
$storm: #2e2e2e;
$ocean: #004973;
$shamrock: #1fbb62;
$tangerine: #ffa800;


.profile-trips{
	padding-left: 150px;
	padding-right: 150px;
}

.profile-wrapper{
	width:100vw;
	height:100vh;
	// padding-left: 100px;
	// padding-right: 100px;
	// padding-top: 100px;

}


.profile-header{
	padding-left: 150px;
	padding-right: 150px;
	padding-top: 10%;
	display:flex;
	justify-content:space-around;

	.profile-picture img{
		width:300px;
		height:300px;
		object-fit:cover;
		border-radius: 300px;
		

	}

	.profile-user-details{
		margin-left: 50px;
		

		.profile-name{
			font-weight: bold;
			width:400px;
			font-size: 35px;
			
		}

		.profile-status{
			font-size: 20px;

		}
	}


}

.profile-trips{
	padding-left: 100px;
	padding-right: 100px;
	padding-top: 100px;
	// display:flex;
	// flex-direction:column;

	button{
		width:200px;
	}

	.profile-new-trips{
		display:flex;
		justify-content:space-between;
		padding-bottom: 15px;
		margin-bottom: 50px;
		border-bottom: 1px solid #a2a2a2;

		.your-trips{
			font-weight: bold;

		}

		.new-trips-btn{
			background-color: transparent;
			color:$tangerine;
			font-weight: bold;
			font-size: 20px;
			// width:10%;
		}
	}


	.profile-trips-list{

		
		.profile_get_trips{
			display:flex;
			justify-content:space-between;
			border-left: 3px solid #a2a2a2;
			padding-bottom: 5px;
			margin-bottom: 20px;
			border-bottom: 1px dotted gray;


			span{
				margin-left: 10px;
				font-weight: bold;
			}

			span:hover{
				color: #48de23;
			}

			.profile-cities{

			}

			.get_trips_flex{
				display:flex;
				justify-content:space-between;
				// width: 600px;
				width:50%;

				.profile-dates{
					// margin-right: 30px;
			
				}

				.profile-trip-details{
					// padding-left: 100px;
				}

			}

		}

	}

}

