$mint: #c3e9d4;
$pistachio: #bed9b9;
$storm: #2e2e2e;
$ocean: #004973;
$shamrock: #1fbb62;
$tangerine: #00CCCC;
$newblue:#33CCCC;




.profile-wrapper{
	background-color: #222222;
	width:100vw;
	height:100%;
	min-height:100vh;
	padding-top: 10vh;
	padding-bottom: 10vh;

.profile-wrapper-inside{
	background-color: white;
	width:70vw;
	margin: auto;
	box-sizing:border-box;



.profile-header{
	padding:20px;
	display:flex;
	align-items:center;
	justify-content:space-between;

	.profile-picture img{
		width:200px;
		height:200px;
		object-fit:cover;
		// border-radius: 300px;
	}


	.profile-user-details{
		margin-left: 50px;
		font-size: 18px;
		width:100%;
		margin-right: 20%;
		.profile-name{
			font-weight: bold;
			// width:400px;
			font-size: 20px;

		}
		.profile-username{
			
		}
		.profile-email{
			
		}
		.profile-homecity{
			
		}
		.edit-btn{
			color: $tangerine;
		}
		.edit-btn:hover{
			color: $newblue;
		}


	}


}

.profile-trips{


	button{
		width:200px;
	}


		.new-trips-btn{
			background-color: transparent;
			color:$tangerine;
			font-weight: bold;
			font-size: 15px;
			// width:10%;
		}

		.new-trips-btn:hover{
			color: white;
		}
	}


	.profile-trips-list{
		font-size: 15px;
		min-height:200px;


		.booked-trips{
			padding:20px;
			color:$newblue;
			border-top: 5px solid #222222;

		}

		.hosted-trips{
			padding:20px;
			color:$newblue;
			border-top: 5px solid #222222;

		}

		
		.profile_get_trips{
			display:flex;
			justify-content:space-between;
			border-bottom: 3px solid #e9e9e9;
			padding:2vh;
			width:100%;
			box-sizing:border-box;

			



			.profile-trip-details{
				font-size: 15px;
				color: $tangerine;
			}

			.profile-cities{

			}



			}

		}

	}

}



