$mint: #c3e9d4;
$pistachio: #bed9b9;
$storm: #2e2e2e;
$ocean: #004973;
$shamrock: #1fbb62;
$tangerine: #ffa800;




.results-wrapper{
	padding-top:100px;

}

.trip-listing-wrapper{
	display:flex;
	// flex-direction:column;
	justify-content:space-between;
	border-bottom: 1px dotted gray;
	margin-left: 10%;
	margin-right: 10%;
	padding-bottom: 5px;
	margin-bottom: 20px;
	line-height: 50px;


	img{
		object-fit:cover;
		margin-right: 20px;
	}


	// .results-cities{
	// 	width:500px;
	// 	display:flex;
	// 	justify-content:space-between;

	// }

	// .results-dates{
	// 	width:500px;
	// 	// display:flex;
	// 	// justify-content:space-between;


	// }

	.results-img-cities-flex{
		display:flex;
		justify-content:space-between;	
	}

	.results-dates-price-flex{
		display:flex;
		justify-content:space-between;
		width:50%;

	}
	// fix the alignment of the columns here///**********


		.results-price{
			// margin-left: 50px;
		}

		.results-arrow{
			font-size: 25px;
			color: $tangerine;
		}

		.results-arrow:hover{
			color: $storm;
		}

	}

