$mint: #c3e9d4;
$pistachio: #bed9b9;
$storm: #2e2e2e;
$ocean: #004973;
$shamrock: #1fbb62;
$tangerine: #ffa800;


.results-wrapper-top{
	background-color: #222222;
	width:100vw;
	height:100%;
	min-height:100vh;
	padding-top: 10vh;
	padding-bottom: 10vh;
}

.results-wrapper{
	background-color: white;
	width: 70vw;
	margin: auto;

}

.trip-listing-wrapper{
	box-sizing:border-box;
	display:flex;
	justify-content:space-between;
	border-bottom: 3px solid #e9e9e9;
	padding-top: 2vh;
	padding-bottom: 2vh;
	line-height: 50px;
	font-size: 1.35em;
  	font-weight: 300;


	img{
		box-sizing:border-box;
		height:100px;
		width:100px;
		padding-left: 1vw;
		padding-right: 1vw;
		object-fit:cover;


	}

	.results-img-cities-flex{
		display:flex;
		justify-content:space-between;	
	}


	.results-cities{

		.fa{
			padding-right: 10px;
		}
		.fa-circle-o{
			color:#85FF85;
			
		}
		.fa-bullseye{
			color:#FF1F1F;
		}

	}

	.results-dates-price-flex{
		display:flex;
		justify-content:space-between;
		width:20%;

	}

	// fix the alignment of the columns here///**********


		.results-date-price{

			.results-price{
				font-weight: bold;
				font-size: 22px;
				.fa-user{
					font-size: 15px;
				}
			}

		}

		.results-arrow{
			font-size: 35px;
			color: $tangerine;
			padding-right: 2vw;
			padding-top: 25px;
		}

		.results-arrow:hover{
			color: $mint;
		}

		.results-arrow a:visited{

		}

	}

