$mint: #c3e9d4;
$pistachio: #bed9b9;
$storm: #2e2e2e;
$ocean: #004973;
$shamrock: #1fbb62;
$tangerine: #ffa800;



.trip-details-wrapper{
	margin-left: 10vw; 
	margin-right: 10vw;
	margin-top:100px;


	.edit-btn{
		// color: $shamrock;
		position: absolute;
		top: 120px;
		right: 110px;
		font-weight: bold;
		font-size: 20px;

	}

	.edit-btn:hover{
		color: $mint;
	}

	.trip-details{
		width:100%;
		height: 50vh;
		position:relative;
		box-sizing:border-box;

		.trip-details-flex{
			display:flex;
			justify-content:space-between;
			width: 50%;
			border-right: 3px solid white;
			padding-top: 25px;
			padding-left: 15px;
			padding-right: 15px;
			// background-color:$tangerine;
			height:100px;
			box-sizing:border-box;
		}

		.trip-details-departing{
			// color:white;
			font-size: 20px;
			padding-right: 10px;
		}

		.direction-line{
			margin-top: 20px;
			width:18vw;
			height:3px;
			background-color:$mint;
			// position:relative;
		}

		.direction-arrow{
			// position:absolute;
			margin-top: 5px;
			color: $mint;
			font-size: 30px;
		}

		.trip-details-destination{
			// color:white;
			font-size: 20px;	
			padding-left: 10px;

			// text-align: right;
		}

		.trip-details-seats{

			position:absolute;
			right:20vw;
			top:0;
			height:100px;
			width:20vw;
			// background-color:$tangerine;
			font-size: 20px;
			// color:white;
			text-align: center;
			padding-top: 25px;
			// border-right: 3px solid white;
			box-sizing:border-box;
		}
	}

		.trip-details-price{
			position:absolute;
			right:0;
			top:0;
			height:100px;
			width:20vw;
			// background-color:$tangerine;
			font-size: 30px;
			font-weight: bold;
			// color:white;
			text-align: center;
			padding-top: 30px;
			box-sizing:border-box;
			// border-bottom: 3px solid white;


		}


	
	.trip-details-driver{
		position:absolute;
		bottom:0;
		left:0;
		right:0;
		height:50%;


	.trip-details-driver-flex{
		display:flex;
		align-items:center;


		img{
			width:15vw;
			height:15vh;
			object-fit:cover;
			margin-right: 2vw;
			margin-bottom: 1vh;
			margin-left: 2vh;

		}


		.driver-content-flex{
			width:100%;
			display:flex;
			justify-content:space-between;

		}

		.trip-details-driver-name{
			font-weight: bold;
			font-size: 25px;
		}

		.trip-details-driver-link{
			font-weight: bold;
			font-size: 15px;
			color: $tangerine;
		}

		.trip-details-para{
			margin-right: 3vw;
			width:35vw;
			font-size: 14px;
			// background-color: $tangerine;

		}	


		}

	}



.hidden{
		display:none;
}

		.book-btn{
			color: $ocean;
			position: absolute;
			top: 15vh;
			right: 11vw;
			font-weight: bold;
			font-size: 20px;

		  }

}