$mint: #c3e9d4;
$pistachio: #bed9b9;
$storm: #2e2e2e;
$ocean: #004973;
$shamrock: #1fbb62;
$tangerine: #00CCCC;


.highlight{
	color:$tangerine;

}


.trip-details-wrapper{
	background-color: #222222;
	width:100vw;
	height:100%;
	min-height:100vh;
	padding-top: 10vh;
	padding-bottom: 10vh;


.trip-details{
	background-color: white;
	width: 70vw;
	min-height: 500px;
	margin: auto;
	box-sizing:border-box;


.other-riders-title{
	font-size:20px;
	border-top: 3px solid #222222;
	padding:10px;
	box-sizing:border-box;
	text-align: center;
}

	.other-riders-wrapper{
		display:flex;
		justify-content:space-around;
		padding-top: 30px;
		padding-bottom: 30px;


		.other-riders{
			display:flex;
			flex-direction:column;
			img{
				width:100px;
				height:100px;
				object-fit:cover;
			}

			img:hover{
				opacity:0.4;
			}
		}
	}


		.trip-details-flex{
			font-size: 20px;
			padding-bottom: 50px;
			box-sizing:border-box;
			padding:20px;
			border-bottom: 3px solid #222222;

			.trip-details-departing{
				display:flex;
				justify-content:space-between;
			}

			.trip-details-destination{
				display:flex;
				justify-content:space-between;
			}

		}


	.trip-details-seats{
		box-sizing:border-box;
		padding:20px;
		display:flex;
		justify-content:center;
		align-items:center;
		flex-direction:column;
		border-bottom: 3px solid #222222;
		// margin-bottom: 20px;
		font-size: 20px;
		// color:$ocean;

		.current-price{
			// display:flex;
			// flex-direction:column;
			// align-items:center;
			color:$tangerine;
			font-size:25px;
			font-weight:bold;
			text-align: center;
			// width:300px;

		}

		.try{
			display:flex;
			flex-direction:column;
			align-items:center;
		}

		.price-breakdown-wrapper{
		// 	display:flex;
		// justify-content:space-between;
		// flex-direction:row;
		}


		.trip-price-explanation{
			margin-top:20px;
			width:40%;
			padding-top:10px;
			font-size:15px;

			.fa-info-circle{
				margin-right:15px;
				
			}
	
			// padding-left:20px;
				div{
					// width: 40%;
				}

		}

	}

	
		.book-edit{
			box-sizing:border-box;
			width:70vw;
			display:flex;
			justify-content:space-between;
			// border-bottom: 5px solid #222222;
			padding:25px;
			background-color: $ocean;
			color: $mint;
			font-weight: bold;
			font-size: 25px;


			.book-btn{
				color: $tangerine;
				position:relative;
				&:hover{
					color:$mint;
				}
			}
			.edit{
				position:absolute;
				top:0;
				right:0;
			}
		}



	
	.trip-details-driver{
		display:flex;
		align-items:center;
		// height:100%;



	.trip-details-driver-flex{
		display:flex;
		justify-content:space-between;
		width:100%;
		box-sizing:border-box;
		padding:20px;


		.driver-content-flex{
			display:flex;
			// flex-direction:column;
			margin-right: 2vw;
			// margin-bottom: 1vh;
			// margin-left: 20px;

				img{
					width:200px;
					height:200px;
					object-fit:cover;
					margin-right: 15px;
				}

		}

		.trip-details-driver-name{
			font-weight: bold;
			font-size: 25px;
		}

		.trip-details-driver-link{
			font-weight: bold;
			font-size: 15px;
			color: $tangerine;

		}

		.trip-details-para{
			font-size: 15px;
			width:50%;

		}	
	 }
  }
}



.hidden{
		display:none;
}





}