/* CSS Entry Point */

// Turn on freq used libraries
@import 'normalize-css/normalize';
// @import 'font-awesome/scss/font-awesome';
@import '_main';
@import '_home';
@import '_profile';
@import '_login';
@import '_hosttripbooking';
@import '_results';
@import '_tripdetails';
@import '_ridertripbooking';



//Overall Application default styling//

.app {
  box-sizing: border-box;
  position:relative;
  ul {
    list-style: none;
  }
  a {
    text-decoration: none;
    color:black;
  }
  a:hover{
    color:#a2a2a2;
  }
  h1, h2, h3, h4 {
    margin: 0;
  }
}



/////////general button/////////////

button{
  height:30px;
  border:none;
  background-color: #a2a2a2;
  font-weight: bold;
}

button:hover{
  background-color: #d3d3d3;
  color:white;
}

// how to change that ugly yellow??
// label{
  // background-color: rgba(255, 255, 255, 0);
// }
